@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "DM Sans", sans-serif; */
}

header{
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
}

.head_img{
    width: 75px;
    height: 75px;
}

.loc_img{
    display: flex;
    width: 99px;
    height: 24px;
    margin-top: 1.9em;
    margin-left: 1.3em;
}

.im_hd_div{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.all_in_h{
    display: flex;
    justify-content: flex-end;
    width: 200vw;
    gap: 3em;
}

.head_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    margin-left: 3em;
}

.head_nav_a{
    margin-top: 2em;   
    text-decoration: none;
    color: black;
}

.a_in_b{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1.2em;
    width: 10em;
    height: 2em;
}

#border_h{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.img_a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
}

.acc_img{
    margin-top: 1.4em;
    width: 44px;
    height: 44px;
}

.resid{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
    height: 50%;
    border-radius: 3em;
}

.cover{
    position: absolute;
    top: 10em;
    left: 6em;
    width: 50vw;
    height: 75vh;
}

.p_h{
    font-family: "Playfair Display SC", regular;
    font-size: 8.3em;
    margin-top: 0.2em;
}

.p_note{
    position: absolute;
    top: 8.3em;
    font-size: 1.2em;
}

.p_about{
    position: absolute;
    top: 9em;
    font-size: 1.7em;
}

.p_button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33em;
    left: 5em;
    background-color: white;
    border-radius: 0.5em;
    font-size: 1.2em;
    padding: 0.9em 3em;
}

.a_in_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
